@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Testing System</h1>
    <p class="lead">System for testing students is an online application created as semestral project for Introduction to Development in C#/.NET</p>
</div>